AuthservID {{ inventory_hostname }}
PidFile /run/opendmarc/opendmarc.pid
RejectFailures false
Syslog true
SyslogFacility mail
TrustedAuthservIDs {{ groups['servers']|join(' ') }}
UMask 0002
UserID opendmarc:opendmarc
IgnoreHosts /etc/opendmarc/ignore.hosts
HistoryFile /run/opendmarc/opendmarc.dat
Socket /run/opendmarc/opendmarc.sock
