[user]
	name = {{ fullname }}
	email = {{ email }}
[color]
	ui = auto
[github]
	user = patrickmacarthur
[core]
	abbrev = 12
	autocrlf = input
	excludesfile = ~/.cvsignore
[merge]
	log = true
[push]
	default = current
[init]
	templatedir = ~/.local/share/git-core/templates
[fetch]
	prune = true
[sendemail]
	suppressfrom = true
	chainreplyto = false
	confirm = always
	envelopesender = auto
	smtpServer = {{ smtp_server }}
	smtpUser = {{ user }}
	smtpencryption = tls
	smtpServerPort = 587
[commit]
	verbose = 1
