Host *
    SendEnv COLORTERM COLORFGBG
    VisualHostKey no

Host {{ groups['servers']|map('regex_replace', '\\..*$', '')|sort|join(' ') }}
    User patrick
    Hostname %h.patrickmacarthur.net

Host *.patrickmacarthur.net
    User patrick

Host agate
    User {{ unh_it_username }}
    Hostname %h.cs.unh.edu
    ForwardX11 yes

{% for host in work_systems %}
Host {{ host }}
    User {{ work_username }}
    Hostname %h.{{ work_domain }}
    ForwardX11 yes
{% endfor %}

Host *.{{ work_domain }}
    User {{ work_username }}
    ForwardX11 yes

{% for host in research_lab_systems %}
Host {{ host }}
    User {{ research_lab_username }}
    Hostname %h.{{ research_lab_domain }}
    ForwardAgent yes
    ForwardX11 yes
{% endfor %}

Host *.{{ research_lab_domain }}
    User {{ research_lab_username }}
    ForwardAgent yes
    ForwardX11 yes

{{ ssh_config_private|default('') }}
