confirmation=1
extensions=/usr/libexec/taskd
ip.log=on
log=/tmp/taskd.log
pid.file=/run/taskd.pid
queue.size=10
request.limit=1048576
root=/var/lib/taskd
server={{ www_fqdn }}:53589
family=IPv4
trust=strict
verbose=1
client.cert=/var/lib/taskd/pki/client.cert.pem
client.key=/var/lib/taskd/pki/client.key.pem
server.cert=/etc/ssl/{{ www_fqdn }}.fullchain.pem
server.key=/etc/ssl/private/{{ www_fqdn }}.key
server.crl=/var/lib/taskd/pki/server.crl.pem
ca.cert=/var/lib/taskd/pki/ca.cert.pem
