<Directory /var/www/html/.git>
    <IfModule mod_authz_core.c>
        Require local
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Deny,Allow
        Deny from all
    </IfModule>
</Directory>

<IfModule mod_ssl.c>
<VirtualHost *:80>
    ServerName {{ www_fqdn }}
{% for item in www_aliases %}
    ServerAlias {{ item }}
{% endfor %}
    ServerAdmin patrick@patrickmacarthur.net
    Redirect permanent "/" "https://{{ www_fqdn }}/"
</VirtualHost>

<VirtualHost _default_:443>
    ServerName {{ www_fqdn }}
{% for item in www_aliases %}
    ServerAlias {{ item }}
{% endfor %}
    ServerAdmin patrick@patrickmacarthur.net

    ErrorLog /var/log/apache2/error_log
    TransferLog /var/log/apache2/access_log
    LogLevel warn

    SSLEngine on
    SSLProtocol all -SSLv2 -SSLv3
    SSLCipherSuite HIGH:MEDIUM:!aNULL:!MD5:!SSLv2

    <Files ~ "\.(cgi|shtml|phtml|php3?)$">
        SSLOptions +StdEnvVars
    </Files>
    <Directory "/var/www/cgi-bin">
        SSLOptions +StdEnvVars
    </Directory>

    BrowserMatch "MSIE [2-5]" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0

    CustomLog /var/log/apache2/ssl_request_log \
          "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"

    SSLCertificateFile /etc/ssl/{{ www_fqdn }}.crt
    SSLCertificateChainFile /etc/ssl/{{ www_fqdn }}.chain.pem
    SSLCertificateKeyFile /etc/ssl/private/{{ www_fqdn }}.key

    Redirect permanent "/owncloud" "https://patrickmacarthur.net/nextcloud"
    {% for r in www_redirects|default(dict()) %}Redirect "{{ r.src }}" "{{ r.dest }}"{% endfor %}

</VirtualHost>
</IfModule>
